# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [2]:
# Import the necessary libraries and CSVs. Make some dataframes!

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

balt = pd.read_csv("https://raw.githubusercontent.com/e3la/data-manipulation/master/dataset/baltimore_9-24-2016_9-30-2017.csv")
bos = pd.read_csv("https://raw.githubusercontent.com/e3la/data-manipulation/master/dataset/boston_9-24-2016_9-30-2017.csv")
nyc = pd.read_csv("https://raw.githubusercontent.com/e3la/data-manipulation/master/dataset/new-york_9-24-2016_9-30-2017.csv")
phil = pd.read_csv("https://raw.githubusercontent.com/e3la/data-manipulation/master/dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [3]:
print(balt.columns)
print(bos.columns)
print(nyc.columns)
print(phil.columns)

Index(['Commodity Name', 'City Name', 'Type', 'Package', 'Variety',
       'Sub Variety', 'Grade', 'Date', 'Low Price', 'High Price', 'Mostly Low',
       'Mostly High', 'Origin', 'Origin District', 'Item Size', 'Color',
       'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance',
       'Storage', 'Crop', 'Repack', 'Trans Mode'],
      dtype='object')
Index(['Commodity Name', 'City Name', 'Type', 'Package', 'Variety',
       'Sub Variety', 'Grade', 'Date', 'Low Price', 'High Price', 'Mostly Low',
       'Mostly High', 'Origin', 'Origin District', 'Item Size', 'Color',
       'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance',
       'Storage', 'Crop', 'Repack', 'Trans Mode'],
      dtype='object')
Index(['Commodity Name', 'City Name', 'Type', 'Package', 'Variety',
       'Sub Variety', 'Grade', 'Date', 'Low Price', 'High Price', 'Mostly Low',
       'Mostly High', 'Origin', 'Origin District', 'Item Size', 'Color',
       'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance',
       'Storage', 'Crop', 'Repack', 'Trans Mode'],
      dtype='object')
Index(['Commodity Name', 'City Name', 'Type', 'Package', 'Variety',
       'Sub Variety', 'Grade', 'Date', 'Low Price', 'High Price', 'Mostly Low',
       'Mostly High', 'Origin', 'Origin District', 'Item Size', 'Color',
       'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance',
       'Storage', 'Crop', 'Repack', 'Trans Mode'],
      dtype='object')

In [4]:
# Clean your data here!
key = ["Grade","Origin District", "Item Size", "Environment", "Unit of Sale", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"]
balt = balt.drop(key, axis=1)
bos = bos.drop(key, axis=1)
nyc = nyc.drop(key, axis=1)
phil = phil.drop(key, axis=1)

In [5]:
print(balt.columns,balt.shape)
print(bos.columns,bos.shape)
print(nyc.columns,nyc.shape)
print(phil.columns,phil.shape)

Index(['Commodity Name', 'City Name', 'Type', 'Package', 'Variety',
       'Sub Variety', 'Date', 'Low Price', 'High Price', 'Mostly Low',
       'Mostly High', 'Origin', 'Color', 'Repack'],
      dtype='object') (153, 14)
Index(['Commodity Name', 'City Name', 'Type', 'Package', 'Variety',
       'Sub Variety', 'Date', 'Low Price', 'High Price', 'Mostly Low',
       'Mostly High', 'Origin', 'Color', 'Repack'],
      dtype='object') (352, 14)
Index(['Commodity Name', 'City Name', 'Type', 'Package', 'Variety',
       'Sub Variety', 'Date', 'Low Price', 'High Price', 'Mostly Low',
       'Mostly High', 'Origin', 'Color', 'Repack'],
      dtype='object') (112, 14)
Index(['Commodity Name', 'City Name', 'Type', 'Package', 'Variety',
       'Sub Variety', 'Date', 'Low Price', 'High Price', 'Mostly Low',
       'Mostly High', 'Origin', 'Color', 'Repack'],
      dtype='object') (57, 14)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [6]:
# Combine the four dataframes into one!

megacity = pd.concat([balt, bos, nyc, phil], axis=0)

print(megacity.shape)
print(megacity.columns)

(674, 14)
Index(['Commodity Name', 'City Name', 'Type', 'Package', 'Variety',
       'Sub Variety', 'Date', 'Low Price', 'High Price', 'Mostly Low',
       'Mostly High', 'Origin', 'Color', 'Repack'],
      dtype='object')

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually.
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [11]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

mean_low_result = megacity['Low Price'].agg(mean_low_price='mean').reset_index()

print(mean_low_result)

mean_high_result = megacity['High Price'].agg(mean_low_price='mean').reset_index()

print(mean_high_result)

            index   Low Price
0  mean_low_price  134.183976
            index  High Price
0  mean_low_price  150.671365

In [20]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

result = megacity.groupby('City Name').size().reset_index(name='Number of Lines')
print(result)

      City Name  Number of Lines
0     BALTIMORE              153
1        BOSTON              352
2      NEW YORK              112
3  PHILADELPHIA               57

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [21]:
# Try the bonus mission if you have time!


chi = pd.read_csv("https://raw.githubusercontent.com/e3la/data-manipulation/master/dataset/chicago_9-24-2016_9-30-2017.csv")
det = pd.read_csv("https://raw.githubusercontent.com/e3la/data-manipulation/master/dataset/detroit_9-24-2016_9-30-2017.csv")
stl = pd.read_csv("https://raw.githubusercontent.com/e3la/data-manipulation/master/dataset/st-louis_9-24-2016_9-30-2017.csv")

midwestcity = pd.concat([chi, det, stl], axis=0)

mean_low_result = midwestcity['Low Price'].agg(mean_low_price='mean').reset_index()

print(mean_low_result)

mean_high_result = midwestcity['High Price'].agg(mean_low_price='mean').reset_index()

print(mean_high_result)

result = midwestcity.groupby('City Name').size().reset_index(name='Number of Lines')
print(result)

            index   Low Price
0  mean_low_price  109.339873
            index  High Price
0  mean_low_price  111.447468
   City Name  Number of Lines
0    CHICAGO              248
1    DETROIT               44
2  ST. LOUIS              103